.page_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.city_container {
  padding: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/*イイ感じの文章テキストボックス*/
.explain {
  width: 95%;
  padding: 0.5em 1em;
  margin: 1.5em;
  border: double 5px #4ed3a7;
  font-family: "Sawarabi Mincho";
}

/*「まちをさがす」青緑のライン*/
.title {
  padding: 0.3em;
  width: 100%;
  background: linear-gradient(to right, #82f7ff, #a4ff8e);
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 1.1px 1.1px gray;
}
.title p {
  margin: 0;
  padding: 0;
}

.open_modal_button {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: 2rem;
  background-color: #99cbfd;
  color: white;
  outline: none;
  border: 1px solid #4fa7ff;
  cursor: pointer;
}
