.modal_contents {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 15vh;
  color: #00bcd4;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  padding: 2rem;
  border-radius: 0.25rem;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
}

.label {
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  color: #00e0e0;
  font-weight: bold;
}

.dir_button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}

.filter_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.value_input {
  padding: 0.5rem;
}

.submit_button_container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.reset_button {
  padding: 0.5rem 1rem;
  background-color: white;
  color: dimgray;
  outline: none;
  border: 1px solid #4fa7ff;
  border-radius: 1rem;
  transition-duration: 0.5s;
}
.reset_button:hover {
  background-color: rgb(172, 172, 172);
}

.submit_button {
  padding: 0.5rem 1rem;
  background-color: #99cbfd;
  color: white;
  outline: none;
  border: 1px solid #4fa7ff;
  border-radius: 1rem;
  transition-duration: 0.5s;
}
.submit_button:hover {
  background-color: #4f8dca;
}
