.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button {
  background-color: #d3ffd3;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  border: 2px solid #3ac965;
  cursor: pointer;
}

.button:hover {
  background: #88ddbc;
  color: white;
}

.selected {
  background-color: #88ddbc;
}
