.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: gray 1px solid;
  cursor: pointer;
  aspect-ratio: 1;
}

.selected {
  background-color: gray;
}
