.card {
  display: inline-block;
  width: 100%;
  max-width: 24rem;
  padding: 1rem;
  aspect-ratio: 16 / 9;
  border: 1px solid #3adf11;
  position: relative;
  text-decoration: none;
  border-radius: 40px;
  background: linear-gradient(to top left, #ffffff, #c7fbff, #deffd5, #ffffff);
}

.card:hover {
  background: linear-gradient(to top left, #ffffff, #9ef9ff, #b4ffa1, #ffffff);
}

.prefecture {
  position: absolute;
  color: gray;
  top: 8px;
  right: 8px;
}

.name {
  color: dimgray;
  font-weight: bold;
}

.favoriteContainer {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
